/* src/App.css */

body {
  background-color: #f8f9fa;
}

.hero {
  background-image: url("assets/images/header-1.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 0;
  height: 60vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1;
}

.hero .overlay {
  position: relative;
  z-index: 2;
  max-width: 600px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.hero p {
  font-size: 1.5rem;
}

section {
  padding: 50px 0;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 50px 0;
}

footer h2 {
  margin-bottom: 30px;
}

footer form {
  max-width: 600px;
  margin: 0 auto;
}

footer p {
  margin: 0;
}

hero {
  height: 95vh;
}

.container {
  max-width: 700px !important;
}

section {
  padding: 50px 0;
}

.debug-border {
  border: 2px dashed red;
}
